* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hogwart.png");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}

h2{
    cursor: pointer;
    font-size: 2em;
    color: #fff;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0 ;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* .form-box {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
} */

.form-box {
    width: 500px;
    background: transparent;
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid #fff;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.input_box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input_box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder {
    color: #ccc;
    font-size: medium  ;
}

.fa-solid{
    margin-right: 10px;
}

.eye {
    position: absolute;
}

#hide1{
    display: none;
}

.login-btn {
    margin: 40px auto;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: #fff;
    color: black;
}
.navbar .connect {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navbar .connect:hover {
  background-color: #fff;
  color: #162938;
}

.icon {
    width: 10px;
}